
@{
    ViewBag.Title = "Index";
}

<h2>Compras entre fechas</h2>

@if (ViewBag.Verificar == "true")
{
<form action="/VerComprasEntreFechas/CompEntreFechas" method="post">

    <label for="fechaInicio">Fecha Inicio(mm/dd/aaaa)</label>
    <input type="text" name="fechaInicio" />

    <label for="fechaFin">Fecha Fin(mm/dd/aaaa)</label>
    <input type="text" name="fechaFin" />

    <input type="submit" value="Buscar" />

</form>
}
else
{
    <p>No hay compras</p>
}

