
@{
    ViewBag.Title = "Index";
}

<h2>Visualizar estadisticas</h2>


<h2>Escursiones que incluyen un destino dado</h2>
<form  method="post" action="/VisualizarExcursionesConUnDestino/ExcConUnDestino" onsubmit="return checkFieldsPersona()">
<div>
    <label for="slcDestino">Seleccionar destino: </label>
    <select id="slcDestino" name="slcDestino">
        @foreach(Dominio.Destino destino in ViewBag.DestinosSistema)
        {
            <option value="@destino.Ciudad">@destino.Ciudad</option>
        }
    </select>
    <input type="submit" value="Buscar"/>
</div>


</form>

<h2>Destino mas visitado</h2>

<form method="post" action="/DestinoMasVisitado/DestMasVisitados" onsubmit="return checkFieldsPersona()">
   
    <div>
        <input type="submit" value="Buscar Destino" />
    </div>


</form>